* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container{
    width: 100vw;
    min-height: 100vh;
    background-color: #F3F5FA;
}

#home{
    box-shadow: -3px 0 0 0 #5277E3;
    fill: #5277E3;
}

#dashboard{
    box-shadow: 0px 3px 0 0px #5277E3;
    color: #5277E3;
}